<section class="blog">
<title class="blogTitle">mina</title>
<article class="blogContent">trying my best</article>
</section>

<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    
  </p>
  <p>
  </p>
</div>
