{{!-- Login --}}
<h1>LOGIN</h1>
<form >
<input type="text" name="username" id="logUsername">
<input type="password" name="password" id="logPassword">
<input type="submit" name="submit" id="logButton">
</form>