{{!-- Login --}}
<section id= "login">
<h1 id="loginLabel">LOGIN</h1>
<form id = "loginForm" >
<label>username</label>
<input type="text" name="username" id="logUsername">
<label>Password</label>
<input type="password" name="password" id="logPassword">
<input type="button" value="login" id="loginButton">
</div>
</form>

</section>

<script src="/js/login.js"></script>

