{{!-- Sign Up --}}
<form >
<input type="text" name="username" id = "regUsername">
<input type="password" name="password" id = "regPassword">
<input type="submit" name="submit" id = "regButton">
</form>